<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>habits</title>
</head>
<body>
    <h1>Edit <%=completion.date%> completion</h1>
    <form action="/habits/<%=habit._id%>/<%=completion._id%>?_method=PUT" method="POST">
        Notes: <textarea name="notes"><%=completion.notes%></textarea> <br>
        <input type="submit" value="Update">
    </form>
</body>
</html>