<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>habits</title>
    <script src="/js/renderCompletions.js" defer></script>
</head>
<body>
    <h1>habits</h1>
    <a href="/login">Login</a>
    <a href="/login/register">Register</a>
    <% if (user.firstName) { %>
        <br>
        <p>Hello <%= user.firstName %></p>
        <a href="/habits/new">Add a new habit</a>
        <% if (habits) {%>
            <p id="habits" style="display: none;"><%=JSON.stringify(habits)%></p>
        <% }%>
    <% } %>
</body>
</html>