<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>habits</title>
</head>
<body>
    <H1>Registration</H1>
    <nav>
        <ul class="nav nav-tabs">
                <a class="nav-link" href="/habits/"><li class="nav-item">Back to main</li></a>
        </ul>
    </nav>
    <form action="/login/register" method="post">
        First Name: <input type="text" name="firstName"> <br>
        Last Name: <input type="text" name="lastName"> <br>
        Email: <input type="email" name="email"> <br>
        Password: <input type="password" name="password"> <br>
        <input type="submit" value="Register">
    </form>
</body>
</html>